<div class="framework-list">
    {% for creator,list in this.frameworks %}
    <details class="ms-3 my-1">
        <summary class="fw-bold">
            <span class="framework-creator">{{ creator }}</span>
        </summary>
            <ul class="mb-0 ms-4">
            {% for framework in list %}
                <li class="my-1"><a href="{{ path('doc_tree_view', {"slug": framework.id}) }}"><span class="framework-title">{{ framework.title }}</span></a></li>
            {% endfor %}
            </ul>
    </details>
    {% endfor %}
</div>
