<div>
    {% for creator,list in this.frameworks %}
    <details class="ms-3 my-1">
        <summary class="fw-bold">
            <i class="fa fa-landmark text-primary"></i> {{ creator }}
        </summary>
            <ul class="mb-0 ms-4 list-unstyled">
            {% for framework in list %}
                <li class="my-1"><i class="fa fa-bars-staggered text-primary"></i> <a href="{{ path('doc_tree_view', {"slug": framework.id}) }}">{{ framework.title }}</a></li>
            {% endfor %}
            </ul>
    </details>
    {% endfor %}
</div>
