{% extends 'layout.html.twig' %}

{% block body %}
    <h1 class="clearfix">Page List
    {% if is_granted(constant('App\\Security\\Permission::FRONT_MATTER_CREATE')) %}
        <ul class="list-inline hstack float-end">
            <li class="ms-2 list-inline-item">
                <a class="btn btn-default" href="{{ path('front_matter_new') }}">Create a new page</a>
            </li>
        </ul>
    {% endif %}
    </h1>
    <table class="table table-condensed table-hover table-bordered table-striped">
        <thead>
        <tr>
            <th>Name</th>
            <th class="col-md-2">Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for template in templates %}
            <tr>
                <td>{{ template.filename }}</td>
                <td>
                    {% if template.filename starts with 'front:' and template.filename ends with '.html.twig' %}
                        <a class="btn btn-primary" href="{{ path('front_matter', { 'path': template.filename|replace({'front:': '', '.html.twig': ''}) }) }}">Show</a>
                    {% endif %}
                    <a class="btn btn-default" href="{{ path('front_matter_edit', { 'id': template.id }) }}">Edit</a>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

