**/*.log
**/*.md
**/*.php~
**/._*
**/.*.sw?
**/.dockerignore
**/.DS_Store
**/.git/
**/.gitattributes
**/.gitignore
**/.gitmodules
**/docker-compose.*
**/Dockerfile
**/Thumbs.db
.editorconfig
.env.*.local
.env.local
.env.local.php
.php_cs.cache
build/
docker/data/
docker/**/data/
frameworks/
helm/
node_modules/
public/build/
public/bundles/
tmp/
tools/
var/
vendor/
