<div class="clearfix">
    <h1 class="float-start">Competency Frameworks</h1>
    <ul class="list-inline hstack float-end">
        {% if is_granted(constant('App\\Security\\Permission::FRAMEWORK_CREATE')) %}
                <li class="ms-2 list-inline-item">
                    <a class="btn btn-default" href="{{ path('lsdoc_new') }}">Create a new Framework</a>
                </li>
                <li class="ms-2 list-inline-item">
                    <button type="button" class="btn btn-default" data-bs-toggle="modal" data-bs-target="#wizard">Import framework</button>
                </li>
        {% endif %}
        <li class="ms-2 list-inline-item">
            <a class="btn btn-default" href="{{ path('credential_index') }}">Credential Definitions</a>
        </li>
    </ul>
</div>
